<!DOCTYPE html>
<html lang="<%=getLocale()%>">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />

    <title><%= friendlyName %></title>

    <link rel="stylesheet" href="/css/style.css" />

    <meta property="og:title" content="<%= friendlyName %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ffftre.es/<%= name %>" />
    <meta property="og:image" content="<%= ogImageUrl %>" />
    <meta property="og:description" content="<%= ogDescription %>" />

    <meta name="twitter:card" content="summary_large_image"></meta>
    <meta name="twitter:title" content="<%= friendlyName %>" />
    <meta name="twitter:image" content="<%= ogImageUrl %>"></meta>
    <meta name="twitter:description" content="<%= ogDescription %>" />

    <script
      src="https://kit.fontawesome.com/c20ac1017a.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" href="<%= icon %>" type="image/x-icon" />
    <style>
      body {
        background: url(<%=backgroundImage%>);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: 0;
        padding: 0;
      }
    </style>
    <% if(matomoUrl && matomoSideId) { %>
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var u = "<%=matomoUrl%>";
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", "<%=matomoSideId%>"]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.type = "text/javascript";
        g.async = true;
        g.src = u + "matomo.js";
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <!-- End Matomo Code -->
    <% } %>
  </head>

  <body>
    <div id="bg-image">
      <img id="userPhoto" src="<%= icon %>" alt="User Photo" />
      <h1 id="userName"><%= friendlyName %></h1>
      <div id="links">
        <% for(var i = 0; i < links.length; ++i) { %>
        <a class="link" href="<%= links[i].url %>" target="_blank">
          <%= links[i].text %>
        </a>
        <% }%>
      </div>
      <div id="social">
        <% for(socialLink in socialLinks) { // socialLink might by empty
        if(socialLinks[socialLink]) { %>
        <a
          href="<%= socialLinks[socialLink] %>"
          target="_blank"
          aria-label="<%= socialLink %>"
          <% if(socialLink === "mastodon") { %>
            rel="me"
          <% } %>
        >
          <!-- We use a newspaper icon for the website -->
          <% if(socialLink === 'website') { %>
          <i class="fa fa-newspaper"></i>
          <% } else if(socialLink === 'telegram') { %>
          <i class="fab fa-telegram-plane"></i>
          <% } else if(socialLink === 'matrix') { %>
          <img style="width: auto; height: 70px; padding-top: 29px;" src="/matrix-logo.svg" />
          <% } else if(socialLink === 'signal') { %>
          <img style="width: auto; height: 70px; padding-top: 29px;" src="/signal-logo.svg" />
          <% } else { %>
          <i class="fab fa-<%= socialLink %>"> </i>
          <% } %>
        </a>
        <% } }%>
      </div>

      <div class="impressum">
        <a href="<%= imprint %>"> <%=__('About')%> </a>
        <a href="<%= dataProtection %>" target="_blank" rel="noopener">
          <%=__('Privacy policy')%>
        </a>
      </div>
    </div>
  </body>
</html>
