<!DOCTYPE html>
<html lang="<%=getLocale()%>" class="min-h-screen">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title><%= friendlyName %></title>

    <link rel="stylesheet" href="/tailwind.css">
    <link
      rel="icon"
      href="<%= icon %>"
      type="image/x-icon"/>
<style>
body {
  background: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: 'Icon Font';
  src: url('fonts/ffficonfont.eot');
  src: url('fonts/ffficonfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/ffficonfont.woff2') format('woff2'),
       url('fonts/ffficonfont.woff') format('woff'),
       url('fonts/ffficonfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.social {
  font-family: 'Icon Font';
  line-height: 1;
}
#twitter::before {
  content: 'T';
}
#youtube::before {
  content: 'Y';
}
#facebook::before {
  content: 'F';
}
#instagram::before {
  content: 'I';
}
#website::before {
  content: 'w';
}
</style>
<% if(matomoUrl && matomoSideId) { %>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="<%=matomoUrl%>";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '<%=matomoSideId%>']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
<% } %>
</head>

<body class="min-h-screen px-1 flex flex-col justify-center">
  <div id="bg-image" class="flex flex-col items-center text-white bg-top w-full">
    <img
      id="userPhoto"
      src="<%= icon %>"
      alt="User Photo"
      class="mt-8 mb-5 h-32 w-32"
      >
      <h1 class="text-3xl font-bold text-shadow"><%= friendlyName %></h1>
      <% for(var i = 0; i < links.length; ++i) { %>
        <a
          class="block rounded-full bg-fff-dark-green px-5 my-2 text-xl
          font-medium border-2 border-white text-shadow w-full max-w-2xl text-center hover:bg-opacity-75
          hover:bg-white hover:text-fff-dark-green py-4"
          href="<%= links[i].url %>"
          target="_blank"
          >
            <%= links[i].text %>
        </a>
      <% }%>
      <div class="flex flex-wrap my-4 justify-center">
        <% for(socialLink in socialLinks) {
            // socialLink might by empty
            if(socialLinks[socialLink]) { %>
          <a
            href="<%= socialLinks[socialLink] %>"
            target="_blank"
            aria-label="<%= socialLink %>"
            id="<%= socialLink %>"
            class="social my-1 bg-fff-dark-green mx-5 rounded-full text-4xl p-2
            hover:bg-opacity-75 hover:bg-white hover:text-fff-dark-green text-white">
            <!-- We use a newspaper icon for the website -->
            <% if(socialLink === 'website') { %>
              <i class="fa fa-newspaper"></i>
            <% } else if(socialLink === 'telegram') { %>
              <i class="fab fa-telegram-plane"></i>
            <% } else { %>
            <% } %>
          </a>
        <% } }%>
      </div>

        <div class="flex mb-3">
          <a
            href="<%= imprint %>"
            class="mr-4 block bg-fff-dark-green text-white hover:text-fff-dark-green
            hover:bg-white hover:bg-opacity-75 px-1 rounded-md">
            <%=__('About')%>
          </a>
          <a
            href="<%= dataProtection %>"
            target="_blank"
            rel="noopener"
            class="ml-4 block bg-fff-dark-green text-white hover:text-fff-dark-green
            hover:bg-white hover:bg-opacity-75 px-1 rounded-md">
            <%=__('Privacy policy')%>
          </a>
        </div>
    </div>
  </body>
</html>
